{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<article>
                    <h1>Rapporten</h1>
                    
                    <p class="lead">
                        Basert på hovedfunnene har organisasjonene
			bak rapporten kommet frem til noen
			lokale og nasjonale anbefalinger om veien
			videre. Et utvalg av disse anbefalingene vil
			prosjektgruppen følge opp videre, mens
			mange av anbefalingene er også relevante
			for andre aktører å ta tak i. Prosjektgruppen
			har også tro på at et samarbeid rundt noen
			av disse tiltakene er naturlig.
			</p>
		    
		  
		 <h2> 6.1 Lokale anbefalinger </h2>
		 
		 <p> 1. Etablere gaming- og dataspilltilbud på eksisterende møteplasser for
ungdom, som fritidsklubber, idrettsklubber, kulturskoler og lignende,
lokalt i hele landet. Møteplassen bør ikke kun være tilrettelagt for
gaming og data, men også være gode sosiale arenaer som helst kan
kombineres med andre aktiviteter. </br> </br>

2. Etablere egne gaming- og spillhus der det ikke er eksisterende
møteplasser, eller der potensialet er stort nok til at man kan etablere
egne fullverdige møteplasser med gaming- og datafokus.</br> </br>

3. Møteplasser, aktiviteter og arrangementer må ha oppdatert og attraktivt
utstyr. Det er ikke innkjøps- eller IKT-avdelingen i kommunen som er
spesialistene, det er ungdommene - så spør ungdommene om råd.</br> </br>

4. Prioriter å tilrettelegge lokalene med nok nettlinjer, god ventilasjon,
lyddemping og tilpassede lysforhold.</br> </br>

5. Møteplassen bør ha tilgang på streamingutstyr og kompetanse på bruk
av ulike medieplattformer. Mulighet for å kunne lage spill og utvikle seg
som spillutvikler er også en del av spillkulturen, og noe ungdommene
ønsker.</br> </br>

6. Opprette digitale utgaver av den fysiske møteplassen på Discord som
kan brukes av brukerne når den fysiske møteplassen er stengt, eller de
ikke har lyst eller anledning til å møte fysisk.</br> </br>

7. Sørge for at det er engasjerte og troverdige voksne med kompetanse og
erfaring fra ungdomsarbeid og -medvirkning som kan hjelpe og veilede
ungdommene i å utvikle og drive det tilbudet de ønsker.</br> </br>

8. Medvirkning er helt sentralt i alt arbeidet med ungdom, og spesielt
når det kommer til gamingkultur. Ungdommene må inviteres inn til
samskaping i planlegging, etablering og drift av tilbudene.</br> </br>

9. Fokus på å rekruttere jenter til aktiviteter og arrangementer. En bedre
kjønnsbalanse er morsommere for alle. Skal man få med jentene, må de
få medvirke til ideskaping, planlegging, rekruttering, gjennomføring og
evaluering av tilbudene. </br> </br>

10. Finn gode rollemodeller som kan være lokale ambassadører for
møteplassen. Det gir økt status og bedre rekruttering. Rollemodellene
bør representere det mangfoldet man ønsker å nå med tanke på alder,
kjønn og lignende. Rollemodellene har også en viktig funksjon i å bidra
til å fjerne stigmatisering av gaming som aktivitet.</br> </br>
		 </p>
		 
		 <h2> 6.2 Nasjonale anbefalinger</h2>
		 <p> 1. Opprette tilskuddsordninger for etablering av gamingtilbud på samme
måte som for lokale idrettsarenaer
2. Opprette eller tilpasse nasjonale tilskuddsordninger for gamingutstyr,
-aktivitet og -arrangementer
3. Styrke arenaene og aktørene som allerede jobber med ungdom og
gaming, heller enn å etablere helt nye strukturer som bare fokuser på
gaming alene
4. Arrangere nasjonalt samtids-LAN i samarbeid med KANDU

5. Undersøke muligheten for etablering av regionale gaming-
e-sportssentre. Sentrene bør både være for brukere, men også som

kompetansesentra på gaming og e-sport i regionene. Sentrene bør ha
fokus på hele gamingkulturen, fra hobby til proffspilling, streaming og
spillutvikling.
6. Styrke forskning og utvikling på feltet som fokuserer på hvordan vi kan
styrke positive sider ved dataspillkulturen og redusere de negative. De
positive effektene gaming og dataspillkultur har på sosial kompetanse
og psykisk helse, bør undersøkes ytterligere.
</p>
		 
	

                   
				</article>
			</div>
		</div>
	</div>
{% endblock %}
