{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<article>
                    <h1>Rapporten</h1>
                    
                    <p class="lead">
                        Basert på hovedfunnene har organisasjonene
			bak rapporten kommet frem til noen
			lokale og nasjonale anbefalinger om veien
			videre. Et utvalg av disse anbefalingene vil
			prosjektgruppen følge opp videre, mens
			mange av anbefalingene er også relevante
			for andre aktører å ta tak i. Prosjektgruppen
			har også tro på at et samarbeid rundt noen
			av disse tiltakene er naturlig.
			</p>
		    
		  
		 <h2> Hovedfunn </h2>
		 
		 <p> Det overordnede bildet er at ungdommene har mange av de samme behovene og utfordringene knyttet til møteplasser for datakultur og gaming,
		 som de har for andre møteplasser. Det som skiller seg spesielt ut hos datainteressert ungdom er behovene og interessen for kulturen i gaming og
		 dataspill. Det handler ikke bare om å spille, det handler vel så mye om å produsere og utvikle.
		 </p>
		 
		 <h3> Behov for møteplasser </h3>
		 <p> Det er behov for å skape flere møteplasser hvor ungdom kan møtes og spille sammen med andre, for eksempel ved å tilrettelegge for
		 aktivitetsklubber som har dataspillkvelder og fritidsklubber som oppretter e-sportlag.
		 Ungdommene er tydelige på at de ønsker et gamingtilbud i kombinasjon med andre aktiviteter. Samlokalisering av tilbud for ungdom vil derfor i 
		 mange tilfeller være en god løsning, fremfor å utvikle egne møteplasser «bare» for gaming og datakultur.
		 «Ungdommer beskriver drømmemøteplassen som et lavterskeltilbud, som et sted å være og spille kostnadsfritt og uforpliktende. 
		 En møteplass er tilgjengelig dersom den er plassert i nærheten av andre viktige møteplasser i kommunen, er tilrettelagt for alle og 
		 er åpen etter skoletid. Ungdommer beskriver at en møteplass er relevant og attraktiv når den har gode tekniske og praktiske løsninger, 
		 engasjerte og kompetente medarbeidere, aktiviteter av fysisk karakter og er tilrettelagt for sosiale aktiviteter.»
</p>
		 
	

                   
				</article>
			</div>
		</div>
	</div>
{% endblock %}
