{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<article>
		<div class="container">
		
            
            

            <div class="row mt-2">
                <div class="col-12 col-md-10 ml-md-auto mr-md-auto col-lg-8">
					
		<h1> En møteplass for datakultur </h1>
		<h2> På Arendalsuka 16.-18. august 2022.08.05 </h2>
		<p> Innledende tekst </p>
					
				</div>
			</div>
		</div>
	</article>
{% endblock %}
