{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<article>
		<div class="container">
		
            
            

            <div class="row mt-2">
                <div class="col-12 col-md-10 ml-md-auto mr-md-auto col-lg-8">
					
		<h1> En møteplass for datakultur </h1>
		<h3> På Arendalsuka 16.-18. august 2022.08.05 </h3>
		<p class="lead"> Under Arendalsuka inviterer vi til aktiviteter og samtaler om datakultur blant barn og unge. 
		Stedet er Kulturkammeret midt i Arendal sentrum. Og her vil det skje en rekke arrangementer som vi gjør sammen 
		med samarbeidspartnere innenfor nettverket med organisasjoner som blant annet jobber med datakultur for barn og unge.

</pr>
<p>

		Fokuset på datakultur er valgt for å belyse viktigheten og mulighetene denne typen kultur og interesse har blant barn 
		og unge i dag. Kultur- og likestillingsdepartementet jobber med ny dataspillstrategi, nasjonale organisasjoner har fokus
		på tilbud og aktiviteter innenfor temaet, og lokale og regionale aktører oppretter kompetansesentre og møteplasser for 
		datakultur over hele landet.  Alt dette fordi vi vet at barn og ungdom er opptatt av, og lever et liv preget av, digital 
		tilstedeværelse, kulturkonsum og kulturaktiviteter.
 <br>
 <br>
		Vi serverer rykende fersk kaffe og noe å bite i Foajeen og Smia fritidsklubb i 1.etasje på Kulturkammeret tirsdag, onsdag 
		og torsdag under Arendalsuka. Kom innom for en prat, diskusjon og opplevelse av hva datakultur for ungdom kan og bør være.
		Og bli med på arrangementene våre for å få høre mer om temaet.  Vi kan friste med alt fra debatter til liveshow med Nerdelandslaget,
		mulighet til å konkurrere om tittelen «Arendals beste gamer», se en live e-sportsending fra Norcup, og overvære pilotinnspilling
		av den nye podcasten «Greia med gaming».
		
		<br>
		<br>
		
		Her er en oversikt over alle våre arrangement. Klikk på linkene for nærmere informasjon.
		</p>
		
		<h2> Tirsdag </h2>
		<h3> «Regjeringens ny dataspillstrategi:  For alle?»  </h3>
		<p> Kl. 10.00 – 11.00 – Drivverket scene (1.etasje).
		<br>
		Debatt rundt kommende dataspillstrategi med statssekretær Odin Adelsten Aunan Bohmann (AP), Erik Fossum (Pressfire), Sylvia Duerr (Noneda), Andreas Hedermann (Nerdelandslaget), Ole Martin G. Pedersen (KRED)
Praktisk info finner du her: https://program.arendalsuka.no/event/user-view/17570
Facebookevent finner du her:
</p>
		
		<h2> Onsdag </h2>
		
		<h2> Torsdag </h2>
					
				</div>
			</div>
		</div>
	</article>
{% endblock %}
