{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<article>
		<div class="container">
		
            
            

            <div class="row mt-2">
                <div class="col-12 col-md-10 ml-md-auto mr-md-auto col-lg-8">
					
		<h1> En møteplass for datakultur </h1>
		<h3> På Arendalsuka 16.-18. august 2022.08.05 </h3>
		<p class="lead"> Under Arendalsuka inviterer vi til aktiviteter og samtaler om datakultur blant barn og unge. 
		Stedet er Kulturkammeret midt i Arendal sentrum. Og her vil det skje en rekke arrangementer som vi gjør sammen 
		med samarbeidspartnere innenfor nettverket med organisasjoner som blant annet jobber med datakultur for barn og unge.

</pr>
<p>

		Fokuset på datakultur er valgt for å belyse viktigheten og mulighetene denne typen kultur og interesse har blant barn 
		og unge i dag. Kultur- og likestillingsdepartementet jobber med ny dataspillstrategi, nasjonale organisasjoner har fokus
		på tilbud og aktiviteter innenfor temaet, og lokale og regionale aktører oppretter kompetansesentre og møteplasser for 
		datakultur over hele landet.  Alt dette fordi vi vet at barn og ungdom er opptatt av, og lever et liv preget av, digital 
		tilstedeværelse, kulturkonsum og kulturaktiviteter.
 <br>
 <br>
		Vi serverer rykende fersk kaffe og noe å bite i Foajeen og Smia fritidsklubb i 1.etasje på Kulturkammeret tirsdag, onsdag 
		og torsdag under Arendalsuka. Kom innom for en prat, diskusjon og opplevelse av hva datakultur for ungdom kan og bør være.
		Og bli med på arrangementene våre for å få høre mer om temaet.  Vi kan friste med alt fra debatter til liveshow med Nerdelandslaget,
		mulighet til å konkurrere om tittelen «Arendals beste gamer», se en live e-sportsending fra Norcup, og overvære pilotinnspilling
		av den nye podcasten «Greia med gaming».
		
		<br>
		<br>
		
		Her er en oversikt over alle våre arrangement. Klikk på linkene for nærmere informasjon.
		</p>
		
		<br> 
		
		<h2> Tirsdag </h2>
		<h3> Regjeringens nye dataspillstrategi:  For alle?  </h3>
		<p> Kl. 10.00 – 11.00 – Drivverket scene (1.etasje).
		<br>
		<br>
		Debatt rundt kommende dataspillstrategi med statssekretær Odin Adelsten Aunan Bohmann (AP),
		Erik Fossum (Pressfire), Sylvia Duerr (Noneda), Andreas Hedermann (Nerdelandslaget), Ole Martin G. 
		Pedersen (KRED).
		<br><br>
		
		<a href= "http://www.twitch.tv/ukmnorge" target=_blank"> Debatten streames på denne linken </a>
		
		<b><b>
		Praktisk info fra Arendalsukas nettside finner du her: <a href= "https://program.arendalsuka.no/event/user-view/17570" target="_blank"> Regjeringens nye dataspillstrategi: for alle? (Arendalsuka.no)</a>
		<br> <b>
		Facebookevent finner du her: <a href= "https://fb.me/e/5kGTHMQmZ" target"=blank"> Regjeringens nye dataspillstrategi: for alle? (Facebook-arr.) </a>
</p>

		<br> <br>
		<h3> Demokrati, spill og teknologi  </h3>
		<p> Kl. 11.00-11.30 – Smia Fritidsklubb (1. etasje)
		<br>
		<br>
		Det Europeiske Wergelandssenteret presenterer sin satsing på Demokrativerkstedet Utøya og datspillet «Oslo 2084».
		<br><br>
		
		Praktisk info fra Arendalsukas nettside finner du her: <a href= "https://program.arendalsuka.no/event/user-view/18843" target="_blank"> Demokrati, spill og teknologi (Arendalsuka.no) </a>
		<br> 
	
</p>

<br> <br>
		<h3> Inkluderende datakultur og Datakulturrådet </h3>
		<p> Kl. 11.30 - 12.00 – Smia fritidsklubb (1.etasje)
		<br>
		<br>
		UKM Norge og Ungdom og Fritid prosjektene «Inkluderende datakultur» 
		og «Datakulturrådet».
		<br><br>
		
		Praktisk info finner du her: <a href= " https://program.arendalsuka.no/event/user-view/18853" target="_blank"> Inkluderende datakultur og Datakulturrådet (Arendalsuka.no) </a>
	
</p>

	
	<br> <br>
		<h3> En presentasjon av nasjonal arena for E-sport </h3>
		<p> Kl. 12.30 - 13.00 – Smia fritidsklubb (1.etasje)
		<br>
		<br>
		Norcup er en nasjonal arena for e-sport hvor ungdom fra hele Norge kan delta. 
		Norcup handler om å skape en ikke-kommersiell, inkluderende e-sportarena der 
		ikke kun de beste blir løftet frem, men det er åpent for å løfte frem alle! Kom å 
		hør hvordan vi jobber og hvorfor vi har de verdiene vi har.
		<br><br>
		
		Praktisk info finner du her: <a href= "https://program.arendalsuka.no/event/user-view/18885" target="_blank"> En presentasjon av nasjonal arena for E-sport (Arendalsuka.no) </a>
		
</p>


	<br> <br>
		<h3> E-sport – Norcup åpen kvalifisering </h3>
		<p> Kl. 17.00-20.00 - Drivverket scene (1.etasje)
		<br>
		<br>
		Den siste åpne kvalifiseringen for sluttspillet i Rocket League i Norcup går av stabelen under
		Arendalsuka. Vi sender fra vårt fysiske Norcup-studio i Arendal – og du er velkommen til å være
		publikummer under sendingen, og se hvordan en helproff e-sportsending gjennomføres i praksis.
		<br><br>
		
		Praktisk info finner du her: <a href= " https://program.arendalsuka.no/event/user-view/18134" target="_blank"> E-sport – Norcup åpen kvalifisering (Arendalsuka.no) </a>
		
</p>

<br> <br> <br>
	
		<h2> Onsdag </h2>
		
		<h3> Digital festival på bibliotekene i Agder </h3>
		<p> Kl. 12.00 - 12.30 – Smia fritidsklubb (1.etasje)
		<br>
		<br>
		Som en del av prosjektet IKT Senior Agder ble det arrangert Digital festival
		på 6 bibliotek i Agder i september 2021 i samarbeid med Seniornett og KRED.
		Vi presenterer prosjektet og hvordan datakultur er aktuelt også for seniorene.
		<br><br>
		
		Praktisk info finner du her: <a href= "https://program.arendalsuka.no/event/user-view/18845" target="_blank"> Digital festival på bibliotekene i Agder (Arendalsuka.no) </a>
		
</p>


<br> <br>
		<h3> Det digitale kulturhuset </h3>
		<p> Kl. 12.00 - 12.30 – Smia fritidsklubb (1.etasje)
		<br>
		<br>
		NOVA – det digitale kulturhuset – er en nasjonal digital møteplass for ungdom på Discord.  
		Prosjektleder Runar Wiktil vil fortelle om hvordan de jobber med digitalt ungdomsarbeid og hvorfor dette er så viktig.
		<br><br>
		
		Praktisk info finner du her: <a href= "https://program.arendalsuka.no/event/user-view/19115" target="_blank">Det digitale kulturhuset (Arendalsuka.no) </a>
		
</p>


	<br> <br>
		<h3> Fra lokalt fritidstilbud til regionalt ressurssenter </h3>
		<p> Kl. 14.00 - 14.30 – Smia fritidsklubb (1.etasje)
		<br>
		<br>
		KRED (Kompetanse og Ressurssenter for E-sport og Datakultur) ble etablert av 
		Sarpsborg kommune, Viken Fylkeskommune, Kulturtanken og UKM Norge i september 
		2021. KRED utforsker og synliggjør datakultur som kulturuttrykk, hever kompetansen 
		om datakultur hos ungdomsarbeidere og beslutningstakere, forebygger utenforskap
		og skaper fysiske møteplasser for ungdom innen e-sport og datakultur. Kom å få et
		innblikk i hvordan KRED oppstod og jobber både lokalt og regionalt.
		<br><br>
		
		Praktisk info finner du her: <a href= "https://program.arendalsuka.no/event/user-view/18863" target="_blank"> Fra lokalt fritidstilbud til regionalt ressurssenter (Arendalsuka.no) </a>
		
</p>


	<br> <br>
		<h3> Spillskolen i Sarpsborg kommune - en suksesshistorie </h3>
		<p> Kl. 14.30 - 15.00 – Smia fritidsklubb (1.etasje)
		<br>
		<br>
		Spillskolen i Sarpsborg kommune har utgangspunkt i sommerskolen i 2021,
		men ble et så stor suksess at tilbudet ble videreført i den daglige driften
		hos Ungdommens Kulturhus i Sarpsborg. Kom å hør hvordan spillskolen oppstod,
		hvordan man har rekruttert, hvordan øktene legges opp og hvordan en kan etablere
		liknende tilbud i eget lokalmiljø.
		<br><br>
		
		Praktisk info finner du her: <a href= "https://program.arendalsuka.no/event/user-view/18864" target="_blank"> pillskolen i Sarpsborg kommune - en suksesshistorie (Arendalsuka.no) </a>
		
</p>


	<br> <br>
		<h3> Spillkino – dataspill som estetisk opplevelse </h3>
		<p> Kl. 16.00 – 17.00 – Kraftverket scene (u.etasje)
		<br>
		<br>
		Kulturtanken viser frem audiovisuelle opplevelser fra spill i ordentlig kinoformat.
		Dette er et format som både spillformidlere og lærere i skolen kan bruke for å vise 
		frem både estestiske opplevelser og interaktivitet i dataspill. Velkommen til å oppleve
		en bit at det kunstneriske aspektet ved datakulturen.
		<br><br>
		
		Praktisk info finner du her: <a href= "https://program.arendalsuka.no/event/user-view/18057" target="_blank"> Spillkino – dataspill som estetisk opplevelse (Arendalsuka.no) </a>
		<br>
		Facebokevent finner du her: <a href="https://fb.me/e/2GCjKFRcw"> Spillkino – dataspill som estetisk opplevelse </a>
		
</p>

				<br> <br>
		<h3> NERDELANDSLAGET LIVE </h3>
		<p> Kl. 17.15 – 18.45 – Smelteverket scene (1.etasje)
		<br>
		<br>
		Nerdelandslaget er norges største gamingpodcast og kommer til Kulturkammeret 
		og Arendalsuka med et forykende liveshow for å spre både spillglede og 
		spillkultur! Sebastian Brynestad, Ida Dorthea Horpestad og Andreas Hedemann 
		tar oss med inn i spillenes verden i en drøy time med smittende engasjement og høyt tempo! 
		<br><br>
		
		Praktisk info finner du her: <a href= "https://program.arendalsuka.no/event/user-view/18776" target="_blank"> NERDELANDSLAGET LIVE </a>
		<br> 
	Facebookevent finner du her: <a href="https://fb.me/e/1SRSzCTuJ" target="_blank"> Nerdelandslaget LIVE Arendalsuka </a>
</p>
<br> <br> <br>
		
		<h2> Torsdag </h2>
		
		<h3> Veien til å bli Norges beste gamer </h3>
		<p> Torsdag kl. 15.30-17.00 Smia Fritidsklubb (1. etasje)
		<br>
		<br>
		 Siden 2017 har Tvibit bygget opp sin unike spillkonkurranse på tvers av flere byer i Nord-Norge.
		 Det har nå blitt en banebrytende nasjonalt jakt for å finne Norges mest allsidige gamer! 
		 Prosjektlederne bak «Norges Beste Gamer» vil gi et innblikk i prosessen med å utvikle arrangementet
		 og hvordan du også kan engasjere deg i denne bevegelsen!
		<br><br>
		
		Praktisk info finner du her: <a href= "https://program.arendalsuka.no/event/user-view/19107" target="_blank"> Veien til å bli Norges beste gamer (Arendalsuka.no) </a>
		
</p>


				<br> <br>
		<h3> Hvordan kommer kulturlivet for barn og unge sterkere tilbake etter pandemien? </h3>
		<p> kl. 16.00 – 17.00 – Kraftverket scene (u.etasje)
		<br>
		<br>
		I april i år leverte Kulturrådet og NFI rapporten «Sterkere tilbake», som handlet om hvordan kultursektoren skal bygges opp igjen etter pandemien. Kulturtanken tok ansvar for å løfte barn og unges stemmer og perspektiv inn i arbeidet med rapporten.
 På arrangementet får vi høre om barn og unges kulturvaner og hvilke tiltak og  satsingsområder er viktige for en styrket barne- og ungdomskultur fremover. Hvordan skal vi gå frem for å gjøre kultursektoren mer relevant og tilgjengelig for det unge publikummet?
 <br><br>
Vi skal også se på hvordan enkelte er godt i gang med å møte barn og unges behov. Arendal kommune presenterer deres opplevelse av å være en del av pilotprosjektet Koordinert kulturarbeid i regi av UKM, Ungdom og fritid og Kulturskolerådet.
I tillegg blir det en panelsamtale om hvordan fremtidens kulturpolitikk bør utformes for å styrke barne- og ungdomskulturfeltet nå som vi vet så mye om hva målgruppen ønsker seg.  
 <br><br>
Med blant annet: Øystein Strand ( Kulturtanken), Åse Kristin Ask Bakke (Ap), Andre Ruud (Ungdom og fritid), Torstein Siegel (UKM Norge) og Philip Van Eck (Arendal kommune). Debatten ledes av Anna Dordisdatter Malkenes.
<br><br>
Praktisk info finner du her: https://program.arendalsuka.no/event/user-view/18058
Facebookevent finner du her:

		<br><br>
		
		Praktisk info finner du her: <a href= "https://program.arendalsuka.no/event/user-view/18058" target="_blank"> Hvordan kommer kulturlivet for barn og unge sterkere tilbake etter pandemien? (Arendalsuka.no) </a>
		
</p>

			
				<br> <br>
		<h3> Greia med gaming </h3>
		<p> kl. 16.00 – 19.00 – Drivverket scene (1.etasje)
		<br>
		<br>
		«Greia med gaming» er en helt fersk podcast som lages av Spillsenteret i Kristiansand. 
		Podcasten har som formål å øke forståelse for spill, spillkultur og aktiviteter som
		kan anses som beslektet med datakultur. Bli med på innspillingen av pilotepisoden under Arendalsuka!
		<br><br>
		
		Praktisk info finner du her: <a href= "https://program.arendalsuka.no/event/user-view/18139" target="_blank"> Greia med gaming (Arendalsuka.no) </a>
		
</p>



			
				<br> <br>
		<h3> Hvordan kan man etablere seg som spillutvikler? </h3>
		<p> Torsdag kl. 17.30 - 18.00
		<br>
		<br>
		Spillmakerlauget Sør vil 3. september arrangere den nye festivalen Spillkult i Kristiansand.
Kom og hør mer om hva som skjer der, og hvordan de jobber med å gjøre det mulig å etablere seg som spillutvikler i Agder og naboregionene og skape lokale arbeidsplasser og egne, lokale kulturuttrykk innen spill.
Okto Technologies fra Sandnes i Rogaland er med på presentasjonen for å fortelle om hvordan har vært for dem å etablere seg som utvikler av AR-spill.

		<br><br>
		
		Praktisk info finner du her: <a href= "https://program.arendalsuka.no/event/user-view/18891" target="_blank"> Hvordan kan man etablere seg som spillutvikler? (Arendalsuka.no) </a>
		
</p>


				</div>
			</div>
		</div>
	</article>
{% endblock %}
