{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<div class="container" id="frontpage">
		<div class="row">
			<div class="col-12">
				<div class="center" id="textcontainer">
					<h2 id="tittel" class="courier">Møteplass datakultur:</h2>
					<h1 id="sporsmalet">Hvordan kan man lage bedre arrangement for spilling?</h1>
					<p id="sted" class="courier">Vega Scene, 25. januar 2020</p>

                    <a href="#velkommen"><img src="//grafikk.ukm.no/pilned.png" id="pilned" /></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="frontpagecontent">
		<div class="row">
			<div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <div style="padding-top:10vh;"></div>
                <a name="velkommen"></a>
                
				<p>
					Vi ønsker å finne ut hvordan man kan lage bedre tilbud og 
					arrangementer for alle som liker å spille. Derfor trenger vi dine 
					tanker, innspill og meninger.
				</p>
				<p>
					Om du liker mobilspill, TV-spill, dataspill eller fortsatt tviholder på Nintendo 64, har ingen betydning. Det viktigste er at du vil være med på å finne ut hva som skal til for å kunne møtes og spille.
				</p>
				<p>
					Vi inviterer derfor til Vega Scene for å høre på innledninger, 
					spise lunsj og å snakke om hvordan vi kan skape en bedre spillkultur i Norge.
				</p>
				<p>
					Målet med dagen er å komme fram til noen konkrete ting som kan gjøre det bedre å spille sammen. Om det er arrangementer, kule 
					lokaler, nye steder man kan møtes, praktiske apper, steder man både kan spille og spise, eller noe helt annet, er fortsatt uvisst.
				</p>
				<p>
					Men det skal vi finne ut av sammen!
				</p>

                <div>
                    <a href="/pamelding/" id="cta">
                        Meld deg på gratis her
                    </a>
                </div>
			</div>
		</div>
	</div>
    <div class="gradient" id="bottomgradient"></div>
{% endblock %}
