{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<article>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-10 ml-md-auto mr-md-auto col-lg-8">
					<h2>Om rapporten</h2>
					<p>
						Møteplass datakultur er en rapport fra et medvirkningsseminar arrangert i januar 2020 med ungdom og ungdomsarbeidere 
                        fra hele landet. Målet med prosjektet har vært å undersøke hvordan ikke-kommersielle aktører kan tilrettelegge bedre for 
                        møteplasser for datakultur, med utgangspunkt i ungdoms ønsker og behov. På seminaret diskuterte deltakerne hva som utgjør 
                        en god møteplass for gaming og datakultur, og de bidro med sine erfaringer, behov, ideer og drømmer. I rapporten gjengis 
                        sitater fra deltakerne og oppsummeringer av funnene.
					</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-md-6 ml-md-auto col-lg-5 ml-lg-auto">
                    <p>
						Målgruppen for denne rapporten er alle ikke-kommersielle aktører som ønsker å tilrettelegge for møteplasser for 
                        dataspillende ungdom. Rapporten er gjennomgått og kvalitetssikret av en referansegruppe bestående av deltakere fra seminaret.
					</p>
                </div>
                <div class="col-12 col-md-4 mr-md-auto col-lg-3 mr-lg-auto" align="center">
                    <img src="//placehold.it/300x300?text=Fiiiint bilde" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 col-md-10 ml-md-auto mr-md-auto col-lg-8">
					<p>
						Vi håper denne rapporten kan komme flere organisasjoner og personer som jobber for og med ungdom til nytte.

					</p>

					<p>
						Prosjektgruppen ønsker å takke alle medvirkende ungdommer og ungdomsarbeidere, som har heiet på prosjektet 
                        og tatt del i utviklingen av denne rapporten. Vi ønsker også å takke Landsrådet for Norges barne- og 
                        ungdomsorganisasjoner (LNU) for støtte og finansiering av prosjektet.
					</p>

					<br>
					<br>

					<h2>
						Om organisasjonene bak prosjektet
					</h2>
					
					<div class="logo">
					<img src="/ungdomogfritid.png">
					</div>

					<h3>
						Ungdom og Fritid
					</h3>
					<p>
						Ungdom og Fritid – Landsforeningen for fritidsklubber og ungdomshus er en demokratisk barne- og ungdomsorganisasjon 
                        for 100 000 brukere, 2 500 ansatte og frivillige i 650 kommunalt støttede fritidsklubber, ungdomshus og lignende åpne møteplasser. 
                        Våre medlemmer har siden spillkulturen kom til Norge på 80 tallet tilbudt ungdom tilgang på spill og spillutstyr. Mange av klubbene 
                        har også satset på dette kulturfeltet med egne spillrom og spillsatsinger og flere av klubbene står bak lokale LAN. Metodikken vår er 
                        medvirkning, og fokuset i klubbene er, og har derfor hele tiden vært, å la ungdom selv løfte frem spill- og datainteresser.
					</p>
					
					<div class="logo">
					<img src="/ukm.png">
					</div>
					

					<h3>
						Ung kultur møtes (UKM)
					</h3>
					<p>
						UKM jobber for å fremme og utvikle ung kultur over hele landet. Det viktigste for UKM, er å bidra til at ung kultur 
                        får større plass i lokalsamfunnet. Vi arrangerer årlige mønstringer og festivaler, i tillegg til helårig aktivitet som 
                        turneer, workshops og andre arrangement i samarbeid med andre. Vi tror på ungdom og deres evner, og vil at de som ønsker 
                        det kan involvere seg på alle plan. Ungdommene våre tas med i beslutninger både når det gjelder organisasjonens retning 
                        og spesifikke arrangementer. Datakultur bør løftes opp og frem som en kulturarena, og vi ønsker med prosjektet Møteplass 
                        Datakultur å finne svar på hvordan vi kan tilrettelegge best mulig for inkludering av dataspill og datakultur i arbeidet 
                        med ungdom.
					</p>

					<div class="logo">
					<img src="/kandu.png">
					</div>
					<h3>
						KANDU – Norsk Dataungdom
					</h3>
					<p>
						KANDU er en organisasjon av frivillige som arbeider for kreativ databruk og digital kultur. Vi har siden 1996 
                        arrangert et av verdens største kreative teknologifestivaler og datatreff, The Gathering. KANDU er med sine over 7000 
                        medlemmer en av Norges største ungdomsorganisasjoner og arrangerer, fasiliterer (forslag: legger til rette for) og 
                        fronter en rekke aktiviteter og saker over hele landet. Vi er opptatt av å fremme og styrke åpne digitale kulturarenaer 
                        der ungdom får utfolde seg på egne premisser, og vil med dette prosjektet bidra til utformingen av slike tiltak.
					</p>
					
					<div class="logo">
					<img src="/tverga.png">
					</div>


					<h3>
						Tverga
					</h3>
					<p>
						Tverga er ressurssenteret for egenorganisert idrett og fysisk aktivitet, etablert i 2018 av Oslo Skateboardforening 
                        og Ungdom og Fritid, på oppdrag fra Kulturdepartementet. Gjennom kunnskap, nettverk, profesjonell veiledning og verktøy 
                        bidrar Tverga i utviklingen av aktive lokalsamfunn med attraktive møteplasser for egenorganisert idrett og fysisk aktivitet. 
                        Tverga ser det som en naturlig del av sitt oppdrag å engasjere seg i arbeidet med utviklingen av gode møteplasser for spillinteresserte 
                        ungdommer. Ungdom har et mangfold av interesser og erfaringene våre viser at unge etterspør møteplasser som inneholder flere aktiviteter 
                        samlet på ett sted. Fysisk aktivitet er viktig for spillinteresserte, og vi håper at gode møteplasser for datakultur også vil ligge tett på 
                        eller inkludere rom for fysisk aktivitet.

					</p>


				</div>
			</div>
		</div>
	</article>
{% endblock %}
