{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<article>
					<h2>Om rapporten</h2>
					<p> Møteplass datakultur er en rapport fra et medvirkningsseminar arrangert i januar 2020 med ungdom og ungdomsarbeidere 
					fra hele landet. Målet med prosjektet har vært å undersøke hvordan ikke-kommersielle aktører kan tilrettelegge bedre for 
					møteplasser for datakultur, med utgangspunkt i ungdoms ønsker og behov. På seminaret diskuterte deltakerne hva som utgjør 
					en god møteplass for gaming og datakultur, og de bidro med sine erfaringer, behov, ideer og drømmer. I rapporten gjengis 
					sitater fra deltakerne og oppsummeringer av funnene. 
					
					<br>
					
					Målgruppen for denne rapporten er alle ikke-kommersielle aktører som ønsker å tilrettelegge for møteplasser for 
					dataspillende ungdom. Rapporten er gjennomgått og kvalitetssikret av en referansegruppe bestående av deltakere fra seminaret.
					
					<br>
					
					Vi håper denne rapporten kan komme flere organisasjoner og personer som jobber for og med ungdom til nytte. 
					
					<br>
					
					Prosjektgruppen ønsker å takke alle medvirkende ungdommer og ungdomsarbeidere, som har heiet på prosjektet 
					og tatt del i utviklingen av denne rapporten. Vi ønsker også å takke Landsrådet for Norges barne- og 
					ungdomsorganisasjoner (LNU) for støtte og finansiering av prosjektet.
					
					</p>
					
					
					

                  

			

				</article>
			</div>
		</div>
	</div>
{% endblock %}
