{% extends "Layout/_framework.html.twig" %}

{% block css %}
	<link rel="stylesheet" href="https://use.typekit.net/prj2bdq.css"/>
	<link rel="stylesheet" href="/datakultur.css" />
{% endblock %}
{% block framework_content %}
	<div class="gradient" id="topgradient"></div>

	<div class="container" id="nav">
		<div class="row">
			<div class="col-4 center courier">
				<a href="/forsiden/">FORSIDEN</a>
			</div>
            {% if apen_pamelding %}
                <div class="col-4 center courier">
                    <a href="/pamelding/">PÅMELDING</a>
                </div>
            {% else %}
                <div class="col-4 center courier">
                    <a href="/program/">PROGRAM</a>
                </div>
            {% endif %}
			<div class="col-4 center courier">
				<a href="/info/">INFO</a>
			</div>
		</div>
	</div>
	{% block content %}{% endblock %}
	<p class="mt-5 mb-5">&nbsp;</p>
{% endblock %}
