{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<article>
					{% if not page.getPage().meta.hideTitle %}
						<h1>{{ page.getPage().title|raw }}</h1>
					{% endif %}
					{{ page.getPage().content|raw }}
				</article>
			</div>
		</div>
	</div>
{% endblock %}