{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<article>
                    <h1 class="mb-1">Påmelding til møteplass datakultur</h1>
                    <p class="mt-0 lead"><a href="https://g.page/vegascene?share">Vega Scene</a>, Oslo, lørdag 25. januar</p>

                    <p class="mt-5">
                        Så hyggelig at du vil være med!
                    </p>

                    <p>
                        Skjemaet fylles ut av kontaktpersonen for klubben/organsisasjonen. 
                        Hver organisasjon kan stille med 4 deltakere, og minst halvparten må være ungdom.
                    </p>

                    <p>
                        Påmeldingsfrist: onsdag 8. januar
                    </p>

                    <p class="mt-3">
                        <a href="/skjema/" target="_blank" id="cta">Fyll ut påmeldingsskjema</a>
                    </p>
				</article>
			</div>
		</div>
	</div>
{% endblock %}