{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<article>
                    <h1>Rapporten</h1>
                    
                    <p class="lead">
                        Rapporten Møteplass datakultur ble overlevert kulturminister Abid Raja og Kulturdepartementet 08.09.2020. Rapporten kan leses i sin helhet under, eller
                    </p>

                    <table class="table mt-4" style="color:#fff;">
                        <tr>
                            <th style="border-top:none;">11:00</th>
                            <td style="border-top:none;">Innsjekk og kaffe <br /><small>(+ liten matbit for de som reiste langt)</small></td>
                        </tr>
                        <tr>
                            <th>12:00</th>
                            <td>Åpning og velkommen</td>
                        </tr>
                        <tr>
                            <th>12:15</th>
                            <td>Erfaringsutveksling: Presentasjoner fra utvalgte deltakere</td>
                        </tr>
                        <tr>
                            <th>13:00</th>
                            <td>Kaffepause med snacks</td>
                        </tr>
                        <tr>
                            <th>13:20</th>
                            <td>Workshops</td>
                        </tr>
                        <tr>
                            <th>15:10</th>
                            <td>Matpause</td>
                        </tr>
                        <tr>
                            <th>15:55</th>
                            <td>Workshops</td>
                        </tr>
                        <tr>
                            <th>17:15</th>
                            <td>Avrunding og oppsummering</td>
                        </tr>
                        <tr>
                            <th>18:00</th>
                            <td>Hjemreise</td>
                        </tr>
                    </table>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
