{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<article>
                    <h1>Rapporten</h1>
                    
                    <p class="lead">
                        Rapporten Møteplass datakultur ble overlevert kulturminister Abid Raja og Kulturdepartementet 08.09.2020. Rapporten kan 
			leses i sin helhet under, eller <a href="https://drive.google.com/file/d/1_UfffuDCGTullniBQ5zvIGpqeuk8SPJX/view">lastes ned her</a>.
                    </p>

                   
				</article>
			</div>
		</div>
	</div>
{% endblock %}
