{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<article>
                    <h1>Rapport “Møteplass Datakultur” </h1>
                    
                    <p class="lead">
                       Funnene i rapporten underbygger sentrale anbefalinger fra Data- spillstrategien (2020-2022) der viktigheten 
av fysiske møteplasser for datainteresserte ungdommer fremheves, og kommuner og andre aktører oppfordres til å tilrettelegge for slike møteplasser. 
                    </p>
		    
		      <p>  På side 37 og 38 i rapporten kan man lese mer om hvilke tiltak som anbefales.
		<a href="/anbefalinger"> Du kan også klikke her for å komme rett til anbefalingene </a>.
		
		<br> <br>
		Rapporten Møteplass datakultur ble overlevert Kulturdepartementet 08.09.2020. Rapporten kan leses i sin helhet under
		, eller <a href="https://drive.google.com/file/d/1_UfffuDCGTullniBQ5zvIGpqeuk8SPJX/view" target="_blank" >lastes ned her</a>.
		</p>
		    
		   <iframe allowfullscreen allow="fullscreen" style="border:none;width:100%;height:326px;" src="//e.issuu.com/embed.html?backgroundColor=%23302147&d=20200611_rapport_datakultur&u=ukmnorge"></iframe>
		    
		  
		 <h2> Hovedfunn </h2>
		 
		 <p> Det overordnede bildet er at ungdommene har mange av de samme behovene og utfordringene knyttet til møteplasser for datakultur og gaming,
		 som de har for andre møteplasser. Det som skiller seg spesielt ut hos datainteressert ungdom er behovene og interessen for kulturen i gaming og
		 dataspill. Det handler ikke bare om å spille, det handler vel så mye om å produsere og utvikle.
		 </p>
		 
		 <h3> Behov for møteplasser </h3>
		 <p> Det er behov for å skape flere møteplasser hvor ungdom kan møtes og spille sammen med andre, for eksempel ved å tilrettelegge for
		 aktivitetsklubber som har dataspillkvelder og fritidsklubber som oppretter e-sportlag.
		 Ungdommene er tydelige på at de ønsker et gamingtilbud i kombinasjon med andre aktiviteter. Samlokalisering av tilbud for ungdom vil derfor i 
		 mange tilfeller være en god løsning, fremfor å utvikle egne møteplasser «bare» for gaming og datakultur.
		 «Ungdommer beskriver drømmemøteplassen som et lavterskeltilbud, som et sted å være og spille kostnadsfritt og uforpliktende. 
		 En møteplass er tilgjengelig dersom den er plassert i nærheten av andre viktige møteplasser i kommunen, er tilrettelagt for alle og 
		 er åpen etter skoletid. Ungdommer beskriver at en møteplass er relevant og attraktiv når den har gode tekniske og praktiske løsninger, 
		 engasjerte og kompetente medarbeidere, aktiviteter av fysisk karakter og er tilrettelagt for sosiale aktiviteter.»
</p>
		 
		  <h3> Medvirkning og ungdomsarbeid </h3>
		  <p> Deltakerne trekker frem medvirkning som en forutsetning for å lykkes med utvikling av gode møteplasser for 
		  datainteressert ungdom. Dette betyr at de som skal tilrettelegge for møteplassene må ha god kompetanse og erfaring knyttet 
		  til ungdomsmedvirkning og ungdomsarbeid i praksis. For å skape troverdighet blant ungdommene, er det også en forutsetning at 
		  ansatte har en genuin interesse for, og kompetanse om, gaming og datakultur.
		  </p>
		  
		   <h3> Kjønn </h3>
		   <p> Det er langt flere gutter enn jenter som gamer. De siste tallene fra Medietilsynet, april 2020, viser at 76 % jenter og 96 % gutter 
		   spiller. Denne skjevfordelingen er spesielt fremtredende på fysiske gamingarrangementer og -tilbud. Deltakerne uttrykte et sterkt ønske 
		   om at jenteandelen på arrangementer og aktiviteter bør øke. Jentene selv gir uttrykk for at de må tas med i planlegging og gjennomføring 
		   av arrangementene, inkludert markedsførings- og rekrutteringsarbeidet, slik at deres ønsker og behov blir bedre ivaretatt.
		   </p>
		   
		    <h3> Kompetanse og mestring </h3>
		    <p> Gaming og datakultur gir ungdommene verdifull kompetanse og livsmestring. De får høy digital kompetanse som er attraktivt i arbeidslivet, 
		    og mange får gode språkferdigheter. Ungdommene er tydelige på at gaming i stor grad er en sosial aktivitet, enten spillingen foregår sammen 
		    med andre digitalt eller fysisk. Derfor gir gaming god sosial kompetanse og mestring både digitalt og fysisk. Funn fra rapporten viser også 
		    at digitale arenaer for gaming er spesielt viktig for ungdom som har opplevd sosiale eller psykiske utfordringer. 
		    
		    Rapporten avsluttes med en liste med konkrete anbefalinger for videre arbeid: Ti tiltak som kan løses lokalt og seks tiltak som kan løses 
		    nasjonalt.
		    Vi håper at denne rapporten bidrar til økt innsikt og vil inspirere flere som jobber for og med ungdom til å tenke nytt rundt datakultur og ungdomsarbeid.
		    </p>

                   
				</article>
			</div>
		</div>
	</div>
{% endblock %}
