{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<article>
                    <h1>Rapport “Møteplass Datakultur” </h1>
                    
                    <p class="lead">
                       Funnene i rapporten underbygger sentrale anbefalinger fra Data- spillstrategien (2020-2022) der viktigheten 
av fysiske møteplasser for datainteresserte ungdommer fremheves, og kommuner og andre aktører oppfordres til å tilrettelegge for slike møteplasser. 
                    </p>
		    
		      <p>  På side 37 og 38 i rapporten kan man lese mer om hvilke tiltak som anbefales.
		<a href="/anbefalinger"> Du kan også klikke her for å komme rett til anbefalingene </a>.
		<a href="/veilederr"> Du kan også klikke her for å komme rett til veileder </a>.
		<br> <br>
		Rapporten Møteplass datakultur ble overlevert Kulturdepartementet 08.09.2020. Rapporten kan leses i sin helhet under
		, eller <a href="https://drive.google.com/file/d/1_UfffuDCGTullniBQ5zvIGpqeuk8SPJX/view" target="_blank" >lastes ned her</a>.
		</p>
		    
		   <iframe allowfullscreen allow="fullscreen" style="border:none;width:100%;height:326px;" src="//e.issuu.com/embed.html?backgroundColor=%23302147&d=20200611_rapport_datakultur&u=ukmnorge"></iframe>
		    
		  
		 <h2> Hva er en god møteplass for datakultur? </h2>
		 
		 <p> Møteplass datakultur er en rapport fra et medvirkningsseminar arrangert i januar 2020 med ungdom og ungdomsarbeidere 
			fra hele landet. Målet med prosjektet har vært å undersøke hvordan ikke-kommersielle aktører kan tilrettelegge bedre for møteplasser for datakultur,
			 med utgangspunkt i ungdoms ønsker og behov. 
			<br> <br>
			På seminaret diskuterte deltakerne hva som utgjør en god møteplass for gaming og datakultur, og 
			de bidro med sine erfaringer, behov, ideer og drømmer. I rapporten gjengis sitater fra deltakerne og oppsummeringer av funnene.

		 </p>
		 
		 <h3> En rapport for deg som vil tilrettelegge </h3>
		 <p> Målgruppen for denne rapporten er alle ikke-kommersielle aktører som ønsker å tilrettelegge for møteplasser for dataspillende ungdom. Rapporten er gjennomgått og kvalitetssikret av en referansegruppe bestående av deltakere fra seminaret.
			<br> <br>
			Vi håper denne rapporten kan komme flere organisasjoner og personer som jobber for og med ungdom til nytte.
			<br> <br>
			Prosjektgruppen ønsker å takke alle medvirkende ungdommer og ungdomsarbeidere, som har heiet på prosjektet og tatt del i utviklingen av denne rapporten. Vi ønsker også å takke Landsrådet for Norges barne- og ungdomsorganisasjoner (LNU) for støtte og finansiering av prosjektet.

</p>
		 
		  
                   
				</article>
			</div>
		</div>
	</div>
{% endblock %}
