{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<article>
		<div class="container">
		
            
            

            <div class="row mt-2">
                <div class="col-12 col-md-10 ml-md-auto mr-md-auto col-lg-8">
					

					<h2>
						Lettere å lage gode møteplasser for dataspill
					</h2>
					

					<h3>
						På oppdrag fra Kulturdepartementet har vi utarbeidet en veileder som tilrettelegger 
						for attraktive møteplasser for dataspill og datakultur. Et nyttig verktøy for alle som jobber med barn og unge!
					</h3>
					<p>Dataspill er den største egenorganiserte fritidsaktiviteten blant barn og unge i Norge. 86 prosent 
					av norske jenter og gutter spiller dataspill. En fritidsaktivitet som kan bidra til både kreativitet, 
					samarbeid, læring og fellesskap.   
					</p>
					
					<h3>
						De unge ønsker fysiske møteplasser for digitale aktiviteter
					</h3>
					
					<p>
						Selv om dataspill utøves digitalt og ofte online, har også spillinteresserte behov for å møtes 
						fysisk og spille sammen. Derfor er det et stort behov for fysiske møteplasser for dataspill og datakultur.
						</br>
						«Vi burde slå flere aktiviteter sammen. Treningstilbud, fysisk aktivitet ved siden av gaming. Fysisk 
						aktivitet som ikke nødvendigvis er fotball, for det er så mange aktiviteter man kan gjøre som ikke involverer 
						ballspill - som det allerede er så mye av.» – Ungdom, 24 år


					</p>

					
					<h3>
						KANDU – Norsk Dataungdom
					</h3>
					<p> 
						KANDU samler over  6.000 datainteresserte ungdom i en landsomfattende frivillig organisasjon. 
						Siden 1996 har vi arrangert en av verdens største kreative teknologifestival og datatreff, The 
						Gathering. KANDU er en av Norges største ungdomsorganisasjoner og arrangerer, fasiliterer og fronter
						en rekke aktiviteter og saker over hele landet. Vi er opptatt av å fremme, styrke og åpne digitale 
						kulturarenaer der ungdom får utfolde seg og lære på egne premisser. Våre viktigste saker er at digital 
						kultur har rett på anerkjennelse som tradisjonell kultur, at spill er kultur, at møteplasser er viktig 
						for datakulturen, og å synliggjøre den sosiale datakulturen som allerede finnes rundt om i landet.
					</p>
					
					<div class="logo">
					<img src="/tverga3.png">
					</div>


					<h3>
						Tverga
					</h3>
					<p>
						Tverga er ressurssenteret for egenorganisert idrett og fysisk aktivitet, etablert i 2018 av Oslo Skateboardforening 
                        og Ungdom og Fritid, på oppdrag fra Kulturdepartementet. Gjennom kunnskap, nettverk, profesjonell veiledning og verktøy 
                        bidrar Tverga i utviklingen av aktive lokalsamfunn med attraktive møteplasser for egenorganisert idrett og fysisk aktivitet. 
                        Tverga ser det som en naturlig del av sitt oppdrag å engasjere seg i arbeidet med utviklingen av gode møteplasser for spillinteresserte 
                        ungdommer. Ungdom har et mangfold av interesser og erfaringene våre viser at unge etterspør møteplasser som inneholder flere aktiviteter 
                        samlet på ett sted. Fysisk aktivitet er viktig for spillinteresserte, og vi håper at gode møteplasser for datakultur også vil ligge tett på 
                        eller inkludere rom for fysisk aktivitet.

					</p>


				</div>
			</div>
		</div>
	</article>
{% endblock %}
