{% extends "Datakultur/layout.html.twig" %}

{% block content %}
	<article>
		<div class="container">
		
            
            

            <div class="row mt-2">
                <div class="col-12 col-md-10 ml-md-auto mr-md-auto col-lg-8">
					

					<h2>
						Lettere å lage gode møteplasser for dataspill
					</h2>
					

					<h3>
						På oppdrag fra Kulturdepartementet har vi utarbeidet en veileder som tilrettelegger 
						for attraktive møteplasser for dataspill og datakultur. Et nyttig verktøy for alle som jobber med barn og unge!
					</h3>
					<p>Dataspill er den største egenorganiserte fritidsaktiviteten blant barn og unge i Norge. 86 prosent 
					av norske jenter og gutter spiller dataspill. En fritidsaktivitet som kan bidra til både kreativitet, 
					samarbeid, læring og fellesskap.   
					</p>
					
					<h3>
						De unge ønsker fysiske møteplasser for digitale aktiviteter
					</h3>
					
					<p>
						Selv om dataspill utøves digitalt og ofte online, har også spillinteresserte behov for å møtes 
						fysisk og spille sammen. Derfor er det et stort behov for fysiske møteplasser for dataspill og datakultur.
						</br> </br>
						
						<i>«Vi burde slå flere aktiviteter sammen. Treningstilbud, fysisk aktivitet ved siden av gaming. Fysisk 
						aktivitet som ikke nødvendigvis er fotball, for det er så mange aktiviteter man kan gjøre som ikke involverer 
						ballspill - som det allerede er så mye av.» – Ungdom, 24 år</i>
						
						</br> </br>
						Les og last ned veilederen <a href="https://www.regjeringen.no/contentassets/c6feb7c29d09439f984278c13acfc06a/v-1025-b-veileder-moteplasser-for-dataspill-og-datakultur.pdf" target="_blank">  “Møteplasser for dataspill og datakultur” </a>


					</p>

					
					<h3>
						Tips og praktiske eksempler 
					</h3>
					<p> 
						Den nye veilederen viser hvordan kommuner, fritidsklubber, samfunnshus, bibliotek og frivillige 
						organisasjoner kan gå frem for å skape slike gode møteplasser. Den inneholder konkrete forslag til
						gjennomføring av arrangementer, praktiske eksempler, tips og sjekklister. </br> </br>

						Veilederen bygger videre på dataspillstrategien “Spillerom” fra 2019 og rapporten “Møteplass datakultur”
						fra 2020. Rapporten avdekket at ungdom ønsker at datakulturtilbud skal etableres på eksisterende møteplasser,
						som også har andre aktiviteter.</br> </br>

						Det er samarbeidsnettverket «Møteplass Datakultur», på oppdrag fra Kulturdepartementet, som har utarbeidet 
						veilederen. Nettverket består av organisasjonene Ung Kultur Møtes (UKM), Ungdom og Fritid, Tverga, Hyperion 
						og KANDU Norsk Dataungdom.

					


				</div>
			</div>
		</div>
	</article>
{% endblock %}
